name: Auto Update Playlist

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write # Explicitly grants write access to save the m3u file

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests

      - name: Run Decoder Script
        run: python update.py

      - name: Commit and Push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add final.m3u
          # Dynamic commit message ensures GitHub sees a change every run
          git commit -m "Updated playlist: $(date)" || echo "No changes to commit"
          git push
